<h1>Listing pests</h1>

<table>
  <tr>
    <th>Pest name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pests.each do |pest| %>
  <tr>
    <td><%= pest.pest_name %></td>
    <td><%= link_to 'Show', pest %></td>
    <td><%= link_to 'Edit', edit_pest_path(pest) %></td>
    <td><%= link_to 'Destroy', pest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pest', new_pest_path %>
