<h1>Pests</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Common Name</th>
    <th>Scientific Name</th>
    <th>Invertebrate</th>
    <th>Family</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pests.each do |pest| %>
  <tr>
    <td><%= pest.name %></td>
    <td><%= pest.scientific_name %></td>
    <td><%= pest.typep %></td>
    <td><%= pest.category %></td>
    <td><%= link_to 'Show', pest %></td>
    <td><%= link_to 'Edit', edit_pest_path(pest) %></td>
    <td><%= link_to 'Destroy', pest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pest', new_pest_path %>
