<p id="notice"><%= notice %></p>

<%= render 'locations/index' %>

<p>
  <b>Client Name:</b>
  <%= @client.clientname %>
</p>

<p>
  <b>Location Address:</b>
  <%= @client.locationaddress %>
</p>

<p>
  <b>Contact Name:</b>
  <%= @client.contactname %>
</p>

<p>
  <b>Contact Phone:</b>
  <%= @client.contactphone %>
</p>

<p>
  <b>Contact Email:</b>
  <%= @client.contactemail %>
</p>

<p>
  <b>Same Billing Info?:</b>
  <%= @client.billingaddresssame %>
</p>

<p>
  <b>Billing Address:</b>
  <%= @client.billingaddress %>
</p>

<p>
  <b>Billing Contact:</b>
  <%= @client.billingcontactname %>
</p>

<p>
  <b>Billing Phone:</b>
  <%= @client.billingphone %>
</p>

<p>
  <b>Billing Mail:</b>
  <%= @client.billingemail %>
</p>


<%= render 'locations/form' %>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
