<h1>Listing areas</h1>

<table class="table-striped table-bordered table-hover">
  <tr>
    <th>Area name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @myareas.each do |area| %>
  <tr>
    <td><%= area.area_name %></td>
    <td><%=area.location %></td>
    <td><%= link_to 'Show', area %></td>
    <td><%= link_to 'Edit', edit_area_path(area) %></td>
    <td><%= link_to 'Destroy', area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

