<h1>Listing pesticides</h1>

<table>
  <tr>
    <th>Pesticide name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pesticides.each do |pesticide| %>
  <tr>
    <td><%= pesticide.pesticide_name %></td>
    <td><%= link_to 'Show', pesticide %></td>
    <td><%= link_to 'Edit', edit_pesticide_path(pesticide) %></td>
    <td><%= link_to 'Destroy', pesticide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pesticide', new_pesticide_path %>
