<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @appointment.location %>
</p>

<p>
  <b>User:</b>
  <%= @appointment.user %>
</p>

<p>
  <b>Date:</b>
  <%= @appointment.date %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
