<p id="notice"><%= notice %></p>
<%= render 'areas/index' %>
<p>
  <b>Location name:</b>
  <%= @location.location_name %>
</p>

<p>
  <b>Location address:</b>
  <%= @location.location_address %>
</p>

<p>
  <b>Location contact:</b>
  <%= @location.location_contact %>
</p>

<p>
  <b>Location phone:</b>
  <%= @location.location_phone %>
</p>

<p>
  <b>Location email:</b>
  <%= @location.location_email %>
</p>

<p>
  <b>Client:</b>
  <%= @location.client %>
</p>
<%= render 'areas/form' %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
